# Build
dist
node_modules
tsconfig.app.tsbuildinfo

# Yarn
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz

# Editor junk
*.sublime-workspace
*.swp
.idea/
.fleet/
*.iml
*.tmp
.DS_Store
.vs/
.cursor/
.devcontainer/
.claude/
.idea
.idea/*
.vscode/*

# Packaging
package*.tgz
